<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot & Thymeleaf File Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div>
                    <form action="/" enctype="multipart/form-data" method="POST">
                        <h2>Upload File</h2>
                        <div class="form-group">
                            <input accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
            application/vnd.ms-excel" id="file" name="file" type="file" enctype="multipart/form-data"/>
                        </div>

                        <input type="submit" class="btn btn-primary" value="Upload"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">

                <h4>Results:</h4>
                <table class="result">
                    <thead>
                    <tr>
                        <th style="border: 1px solid;padding: 10px; text-align: center"> Employee ID #1</th>
                        <th style="border: 1px solid; padding: 10px; text-align: center"> Employee ID #2</th>
                        <th style="border: 1px solid; padding: 10px; text-align: center"> Project ID</th>
                        <th style="border: 1px solid; padding: 10px; text-align: center"> Days Worked</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pair : ${pairs}">
                        <td style="border: 1px solid; text-align: center"><span th:text="${pair.firstEmp.employeeId}"> </span></td>
                        <td style="border: 1px solid; text-align: center"><span th:text="${pair.secondEmp.employeeId}"> </span></td>
                        <td style="border: 1px solid; text-align: center"><span th:text="${pair.firstEmp.projectId}"> </span></td>
                        <td style="border: 1px solid; text-align: center"><span th:text="${pair.daysWorkingTogether}"> </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

</body>
</html>
