<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:if="${message}">
    <h4 th:text="${message}"/>
</div>

<div>
    <form action="/" enctype="multipart/form-data" method="POST">
        <table>
            <tr>
                <td style="text-align:center;">File to upload:</td>
                <td>
                    <input accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
            application/vnd.ms-excel" id="file" name="file" type="file"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:center;"><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>

<div>
    <h4>Results:</h4>
    <table class="result">
        <thead>
        <tr>
            <th> Employee ID #1</th>
            <th> Employee ID #2</th>
            <th> Project ID</th>
            <th> Days Worked</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pair : ${pairs}">
            <td><span th:text="${pair.firstEmp.employeeId}">  </span></td>
            <td><span th:text="${pair.secondEmp.employeeId}">  </span></td>
            <td><span th:text="${pair.firstEmp.projectId}">  </span></td>
            <td><span th:text="${pair.daysWorkingTogether}">  </span></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
